body {
    margin: 0;
    height: 100vh;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    
    color: #333;
}

.data-hora {
    text-align: center;
    padding-top: 20px;
}

#dialog-fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

dialog {
    inset-inline-start: 0;
    inset-inline-end: 0;
    width: fit-content;
    height: fit-content;
    background-color: #ffffff;
    color: #333;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2em;
    text-align: center;
}

#btn-dialog-entrada, #btn-dialog-saida {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#btn-dialog-entrada {
    background-color: #007BFF;
}

#btn-dialog-saida {
    background-color: #ff4b4b;
}

#btn-dialog-entrada:hover, #btn-dialog-saida:hover {
    transform: scale(1.05);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#btn-registrar-ponto {
    padding: 15px 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 40px;
    background: linear-gradient(to bottom, #808381, #b6abab);
    color: white;
    font-family: Arial, sans-serif;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#btn-registrar-ponto:hover {
    background-color: #5a5c5b;
    transform: scale(1.1);
}

#clock-container {
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    margin: 20px auto;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@font-face {
    font-family:'digital-clock-font';
    src: url('digital-7.ttf') format('truetype');
}

#hora-atual{
    font-family: 'digital-clock-font';
    color: red;
    font-size: 100px;
}

#alerta-ponto-registrado {
    border: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1.3rem;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
}

.show {
    opacity: 1;
    transform: translateY(0);
}

#dialog-data, #dialog-hora, #dialog-ultimo-registro {
    margin-top: 10px;
    font-size: 1.1rem;
}

#register-type, #data-escolhida, #observacao, #justificativa-ausencia, #upload-arquivo {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 1rem;
}

#troca {
    margin: 30px auto;
    padding: 12px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: block; 
    text-align: center;
}


#troca:hover {
    transform: scale(1.05);
}
#dia-semana,
#data-atual {
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}
